.Weather {
  font-family: "Dosis", sans-serif;
  padding: 20px 0px;
  margin-left: 20px;
}

.Weather form {
  margin-bottom: 30px;
}

.Weather h1 {
  color: #878787;
  margin: 0px 0px 30px 0px;
  font-size: 45px;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  color: #11b0ef;
  font-size: 100px;
  line-height: 64px;
  font-weight: 100;
  margin-left: 20px;
}

.Weather .unit {
  font-size: 16px;
  color: #85d7f7;
  font-weight: 400;
  position: relative;
  top: -60px;
  margin-left: 10px;
}
